:root {
  --color-background: #141414;
  --color-text: #f8f8f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background-color: var(--color-background);
}

#root {
  display: flex;
}

body,
input,
button,
textarea {
  font: 400 16px;
  font-family: 'Gothic A1', sans-serif;
  color: var(--color-text);
}
